:root {
  --azul-marino: #22387B;
  --rojo-carmesi: #E02931;
  --amarillo-crema: #FFF2B2;
  --fondo-claro: #F4F4F0;
}

body {
  background-color: var(--fondo-claro) !important;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: var(--azul-marino) !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar .navbar-brand, 
.navbar .nav-link {
  color: var(--amarillo-crema) !important;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: #ffffff !important;
}

.card {
  background-color: #ffffff;
  border: 1px solid var(--amarillo-crema);
  border-top: 4px solid var(--azul-marino);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.card-header {
  background-color: var(--amarillo-crema);
  color: var(--azul-marino);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--azul-marino) !important;
  border-color: var(--azul-marino) !important;
  color: var(--amarillo-crema) !important;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #182859 !important;
}

.btn-danger, .badge-danger {
  background-color: var(--rojo-carmesi) !important;
  border-color: var(--rojo-carmesi) !important;
  color: #ffffff !important;
}


.table thead, 
.table thead tr, 
.table thead th {
  background-color: var(--rojo-carmesi) !important;
  color: #ffffff !important;
  border-color: var(--rojo-carmesi) !important;
}